* {
    color: white;
}

.title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Press Start 2P',
        cursive;
    text-align: center;
    margin-bottom: 2rem;
}

.controls {
    user-select: none;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ASD-container,
.W-container {
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
}

.W,
.A,
.S,
.D {
    border: 1px solid white;
    height: 2rem;
    width: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
}

h3 {
    font-weight: 400;
}

.tile {
    display: inline-flex;
    background: rgb(86, 138, 65);
}

.grass {
    background: rgb(86, 138, 65);
}

.rock {
    background-image: url('/tiles/rock.png')
}

.chest {
    background-image: url('/tiles/chest.png')
}

.tree {
    background-image: url('/tiles/tree.png')
}