.tile {
    display: inline-flex;
    background: rgb(86, 138, 65);
}

.grass {
    background: rgb(86, 138, 65);
}

.rock {
    background-image: url('/tiles/rock.png')
}

.chest {
    background-image: url('/tiles/chest.png')
}

.tree {
    background-image: url('/tiles/tree.png')
}